/*** INDEX PAGE (index.php) ***/

    /*** Basic ***/
    #back-color {
        background-color: #EEF3F5;
        opacity: 100%;
    }

    #logo {
        width:139px; 
        height:60px;
    }


    /*** Navigation Bar ***/
    #nav {
        background-image: linear-gradient(-180deg, #48C6EF 0%, #6F86D6 100%);
        border-radius: 5px;
    }

    #nav-b {
        font-family: OpenSans-Bold;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-shadow: 0 1px 0 rgba(0,0,0,0.30);
    }


    /*** (what's inside) Box ***/
    #pic {
        width:360px; 
        height:203px;
    }
    
    #box {
        background: #FFFFFF;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,0.05);
        border-radius: 5px;
        margin-left: 15px;
        margin-bottom: 25px;
        width: 360px; 
        height: 666px;
    }

    #title {
        font-family: OpenSans-Bold;
        font-weight: bold;
        font-size: 24px;
        color: #262626;
        letter-spacing: 0;
        margin-left: 15px;
    }

    #subtitle {
        font-family: OpenSans;
        font-size: 20px;
        color: #686868;
        letter-spacing: 0;
        margin-left: 15px;
    }

    #body {
        font-family: OpenSans;
        font-size: 13px;
        color: #686868;
        letter-spacing: 0;
        /* text-align: justify; */
        margin-left: 15px;
        margin-right: 15px;
    }

    #btn-out {
        font-family: OpenSans-Bold;
        font-size: 13px;
        color: #5EA0E0;
        letter-spacing: 0;
        border: 2px solid #5EA0E0;
        border-radius: 5px;
        margin-left: 15px;
        margin-bottom: 25px;
        /* width: 183px;
        height: 48px; */
    }

    #btn-text {
        font-family: OpenSans-Bold;
        font-size: 13px;
        color: #5EA0E0;
        letter-spacing: 0;
    }

    #btn-1 {
        position: relative;
        top: 111px;
        width: 183px;
        height: 48px;
    }

    #btn-2 {
        position: relative;
        top: 55px;
        width: 183px;
        height: 48px;
    }

    
/*****************************************************/

/*** (what's specific in) ITEM (item-N.php) ***/
    
    /*** (what's inside) Box ***/
    
    #picItem {
        width:361px; 
        height:203px; 
        margin-top:12px;
    }

    #contentItem {
        width:746px; 
        height: 73px;
    }
